
<div class="container">

  <div class="jumbotron">
    <p>You have been paired with! </p><h1><%= @random_user.name %></h1>
    <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
  </div>

</div>



<%= @random_user.name %>