

<div class="container">
  <div class="jumbotron">
    <h1>Hello, world!</h1>
    <p>...</p>
    <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
  </div>

  <div class="col-lg-4 col-md-4">

  <ul class="list-group">
     <% @debates.each do |debate|%>
    <li class="list-group-item">
      <span class="badge"><%= debate.users.count %></span>
        <%= link_to "#{debate.title} ", debate %>
      </li>
   <% end %>
</ul>
    </div>
</div>
