/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require social-share-button
 *= require_self
 */

body{
  background-image: url('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTVSwY7P2FNTQpaYXNt8Zde7ch3A5FJXPKOFIf6LEJzmYCJq0eg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: #7897f1;
}


.navbar-brand{
  font-size: 400%;
  font-color: #bc2a3a;
}


.row {
  margin-left: 5px;
  margin-right: 55px;
  margin-top: 0px;
}

#colordiv {
  background: url('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTVSwY7P2FNTQpaYXNt8Zde7ch3A5FJXPKOFIf6LEJzmYCJq0eg') no-repeat fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.bgcontainer {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom:50px;
}

.navbar-inverse {
  background-color: #373fb6;
}

.navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  background-color: #428BCA;
  border-bottom: 3px solid white;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #71AB6F;
}

.dropdown-menu {
  background-color: #71AB6F;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: #428BCA;
}

.navbar-inverse {
  background-image: none;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-image: none;
}

.navbar-inverse {
  border-color: transparent;
}

.navbar-inverse .navbar-brand {
  color: #FFFFFF;
}

.navbar-inverse .navbar-brand:hover {
  color: #FFFFFF;
}

.navbar-inverse .navbar-nav > li > a {
  color: #FFFFFF;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #FFFFFF;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  color: #FFFFFF;
}

.navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #FFFFFF;
}

.dropdown-menu > li > a {
  color: #333333;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: #FFFFFF;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
  border-top-color: #999999;
}

.navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
  border-top-color: #9CFF99;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
  border-bottom-color: #999999;
}

.navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
  border-bottom-color: #9CFF99;
}


*{
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', arial, sans-serif;
}

.header {
  background: #222;
  z-index: 10;
}

.header .navbar-brand {
  font-weight: 900;
}

.header .navbar {
  margin: 0;
  border: none;
}

.page-section {
  width: 100%;
  min-height: 800 px;
  padding: 50px 0;
}

.page-section h1 {
  font-size: 4em;
  margin: 50px 0;
}

.page-section h1 span {
  font-weight: 200;
}

.page-section h2 {
  font-size: 3em;
  font-weight: 900;
  color: #fff;
  margin: 0 0 30px;
  text-shadow: 2px 2px 2px #000;
}

.page-section p {
  font-size: 1.2em;
  font-weight: 200;
  margin: 0 25% 20px 0;
}

.page-section p.lead {
  font-size: 1.8em;
}

.navbar {
  margin-bottom: 0px;
}

.page-section p.caption {
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

.page-section.intro {
  min-height: 600px;
}

.btn {
  font-weight: 200;
}

.btn-dark {
  background: #444;
  color: #fff;
}

.btn-dark:hover {
  background: #000;
  color: #fff;
}

.back-to-top {
  display: inline-block;
  clear: both;
  background: #fff;
  color: #333;
  padding: 0 10px 5px;
  margin: 20px 0 0;
  text-shadow: none;
}

.back-to-top:hover {
  background: #333;
  color: #fff;
  text-decoration: none;
}

hr {
  border-color: #ddd;
}

.signup {
  margin-top: 140px;
}

.customheader {
  color: #428BCA;
  margin-top: 20px;
}

.bigicon {
  font-size: 47px;
  color: #428BCA;
}

.hiddenStepInfo {
  display: none;
}

.activeStepInfo {
  display: block !important;
}

.underline {
  text-decoration: underline;
}

.step {
  margin-top: 27px;
}

.progress {
  position: relative;
  height: 25px;
}

.progress > .progress-type {
  position: absolute;
  left: 0px;
  font-weight: 800;
  padding: 3px 30px 2px 10px;
  color: rgb(255, 255, 255);
  background-color: rgba(25, 25, 25, 0.2);
}

.progress > .progress-completed {
  position: absolute;
  right: 0px;
  font-weight: 800;
  padding: 3px 10px 2px;
}

.step {
  text-align: center;
}

.step .col-md-2 {
  background-color: #fff;
  border: 1px solid #C0C0C0;
  border-right: none;
}

.step .col-md-2:last-child {
  border: 1px solid #C0C0C0;
}

.step .col-md-2:first-child {
  border-radius: 5px 0 0 5px;
}

.step .col-md-2:last-child {
  border-radius: 0 5px 5px 0;
}

.step .col-md-2:hover {
  color: #F58723;
  cursor: pointer;
}

.step .activestep {
  color: #F58723;
  height: 100px;
  margin-top: -7px;
  padding-top: 7px;
  border-left: 6px solid #5CB85C !important;
  border-right: 6px solid #5CB85C !important;
  border-top: 3px solid #5CB85C !important;
  border-bottom: 3px solid #5CB85C !important;
  vertical-align: central;
}

.step .fa {
  padding-top: 15px;
  font-size: 40px;
}

#map-container {
  height: 400px;
}

#location {
  height: 700px;
}

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #7f96ae;
}